<!--
  Generated template for the ExerciseInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{exerciseData.exerciseTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="exerciseData">

  <ion-grid>
    <ion-row>
      <ion-col>
        <img *ngIf="exerciseData.relaxation" [src]="'assets/imgs/exercise/' + exerciseData.relaxation" />
      </ion-col>
      <ion-col>
        <img *ngIf="exerciseData.tension" [src]="'assets/imgs/exercise/' + exerciseData.tension" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{exerciseData.exerciseDesc}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>
          Primary Muscle Groups:
        </ion-label>

        <div *ngFor="let muscle of exerciseData.primaryMuscles" style="margin:3px;">
          <ion-badge color="primary">{{muscle.muscleDesc}}</ion-badge>
        </div>


      </ion-col>
      <ion-col>
        <ion-label>
          Secondary Muscle Groups:
        </ion-label>
        <div *ngFor="let muscle of exerciseData.secondaryMuscles" style="margin:3px;">
          <ion-badge color="secondary">{{muscle.muscleDesc}}</ion-badge>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
