<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Exercises
    </ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchText" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>
<ion-content>
  <div *ngFor="let muscleGroup of items">
    <ion-item-divider color="secondary" sticky="true" (click)="toggleGroup(muscleGroup)">
      <ion-icon name="{{muscleGroup.hidden ? 'arrow-dropright' : 'arrow-dropdown'}}"></ion-icon>
      {{muscleGroup.muscleGroupDesc}}
    </ion-item-divider>
    <div [ngClass]="muscleGroup.hidden ? 'hidden' : ''">
      <ion-list lines="full" inset="false">
        <div *ngFor="let exercise of muscleGroup.exercises">
          <ion-item [ngClass]="exercise.hidden ? 'hidden' : ''" (click)="open(exercise)">
            <ion-label>
              <img *ngIf="exercise.tension" [src]="'assets/imgs/exercise/' + exercise.tension" width="50px" height="50px" />
              <span class="text">{{exercise.exerciseTitle}}</span>
            </ion-label>
            <ion-checkbox *ngIf="screenMode == 'build'" name="exerciseId" [ngModel]="isChecked(exercise.exerciseId)"
              (ionChange)="updateSelected(exercise, $event)" item-right secondary></ion-checkbox>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer class="footer">
  <ion-buttons end>
    <button ion-button item-end block color="dark" (click)="buildRoutine()" *ngIf="screenMode == 'build'">
      Continue
    </button>
  </ion-buttons>
</ion-footer>
