page-exercises {
  .hidden {
    display: none;
  }

  ion-item-divider {
    border-bottom: 1px solid black;

  }

  ion-list {
    margin: 0px !important;
  }

  .text {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    display: inline-block;
    font-size: 35px;
    color: #ffC977;
    vertical-align: middle;
  }

  .item {
    padding: 0px;
  }

  .item-inner * {
    margin-left: 5px;
  }

  .checkbox-inner {
    margin-left: -1px;
  }
}
