<!--
  Generated template for the UserInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>User Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form *ngIf="userInfo != null">
    <ion-item>
      <ion-label>Full Name:</ion-label>
      <ion-input type="text" [(ngModel)]="userInfo.userName" name="userName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Height feet:</ion-label>
      <ion-input type="number" [(ngModel)]="userInfo.heightFeet" name="heightFeet"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Height inches:</ion-label>
      <ion-input type="number" [(ngModel)]="userInfo.heightInches" name="heightInches"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Weight(lbs):</ion-label>
      <ion-input type="number" [(ngModel)]="userInfo.weightPounds" name="weightPounds"></ion-input>
    </ion-item>
    <button ion-button type="submit" (click)="addUser(userInfo)" block outline color="primary">Submit</button>


  </form>
  <div>
    Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
      title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
      target="_blank">CC 3.0 BY</a>
  </div>
</ion-content>
