page-home {
  .icon-lrg {
    font-size: 50px;
    vertical-align: middle;
  }

  ion-card-header {
    font-weight: bold;
  }

  .font-medium {
    text-align: left;
    font-size: 14px;
    background: url('../../assets/imgs/routine.jpeg') no-repeat center;
    color: white;
    background-size: cover;
  }

  .routine-grid {
    background-color: #1e252d;
    filter: opacity(0.80);
    color: white;
    font-weight: 500;
  }

  .panel {
    color: white;
    display: block;
    height: 135px;
  }

  .panel-routine {
    background: url('../../assets/imgs/routine-list.jpeg') no-repeat center;
    background-size: cover;
  }

  .panel-exercises {
    background: url('../../assets/imgs/exercise-list.jpeg') no-repeat center;
    background-size: cover;
  }

  .panel-calendar {
    background: url('../../assets/imgs/calendar.jpeg') no-repeat center;
    background-size: cover;
  }

  .photo-title {
    text-align: center;
    vertical-align: middle;
    margin-top: 32px;
    height: 25px;
    background-color: #1e252d;
    filter: opacity(0.80);
    color: white;
    font-weight: 500;
  }

  item-ios [item-right],
  .item-ios [item-end] {
    margin: 0px;
  }

  item-android [item-right],
  .item-ios [item-end] {
    margin: 0px;
  }
}
