<ion-header text-left>
  <ion-toolbar color="dark">
    <ion-title item-start>MyGains</ion-title>
    <ion-buttons end>

      <button ion-button item-end outline color="danger" (click)="openUser()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>
  <div *ngIf="(todaysRoutine|json) != {}">
    <routine-grid [Routine]="todaysRoutine" [RoutineId]="todaysRoutineId"></routine-grid>
  </div>


  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-md-6>
          <ion-item class="panel panel-routine" (click)="openRoutines()">
            <ion-item class="photo-title">My Routines</ion-item>
          </ion-item>
        </ion-col>
        <ion-col col-md-6>
          <ion-item class="panel panel-calendar" (click)="openHistory()">
            <ion-item class="photo-title">
              <ion-icon name="calendar"></ion-icon> My Calender
            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-12>
          <ion-item class="panel panel-exercises" (click)="openExercises()">
            <ion-item class="photo-title">Exercise List</ion-item>
          </ion-item>
        </ion-col>


      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      Weekly Volume
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas width="700" height="400"></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card color="dark">
    <ion-card-header>
      Weekly Muscle Breakdown
    </ion-card-header>
    <ion-card-content>
      <canvas #muscleCanvas width="700" height="400"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
