<!--
  Generated template for the WorkoutCalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Month Workout Volume</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="calendar-body" *ngIf="daysInThisMonth != null">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" text-left>{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="viewDay(day)">
          <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
          <ng-template #otherDate class="otherDate"><span class="otherDate">{{day}}</span></ng-template>
          <br />
          <div class="event-bullet" *ngIf="checkEvent(day)">
            <ion-badge color="danger" *ngFor="let event of eventList[day]">{{event.totals.volumn}}</ion-badge>
          </div>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" text-left>{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<ion-footer padding>
  <ion-buttons>
    <button ion-button color="primary" block (click)="viewMonthStats(eventList)">
      <ion-icon name="stats"> View Month Stats</ion-icon>
    </button>
  </ion-buttons>
</ion-footer>
