page-workout-calendar {
    [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
      }
      .col {
        text-align: center;
        padding: 15px;
      }
      .last-month, .next-month {
        color: #999999;
        font-size: 90%;
      }
      
      
      .calendar-header {
        background-color: #720000;
        color: #FFFFFF;
      }
      .event-bullet {
        
        height: 15px;
        width: 15px;
        
      }
      .selected-date {
        width: 20px;
        height: 2px;
        
      }
      .unselected-date {
        border: none;
      }
      .calendar-body {
        .grid {
          padding: 3px;
        }
        .col:last-child {
          border-right: none;
        }
        .calendar-weekday, .calendar-date {
          text-align: center;
          margin: 0;
        }
        .calendar-weekday {
          font-weight: bold;
          border-bottom: solid 1px #FFF;
          background-color: #1e252d;
        }
        .calendar-date {
          border-top: solid 1px #FFF;
          border-bottom: solid 1px #FFF;
          
        }
        .otherDate{
            float: left;
          vertical-align: top;
        }
        .currentDate {
          float: left;
          vertical-align: top;
          
        }
        .calendar-date .col {
          text-align: center;
          padding: 0px;
        }
        .calendar-date .col{
            height:75px;
            border: 1px solid #1e252d;
            padding-left:5px;
            white-space: nowrap;
            overflow-y: hidden;
        }
      }

      ion-badge {
        padding: 0px 0px;
        text-align: center;
        display: block;
        width: 40px;
        font-size: 10px;
        font-weight: bold;
        line-height: 1;
        white-space: nowrap;
        margin:1px;
        border:1px solid black;
       
    }
}
