<!--
  Generated template for the WorkoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="eventDate">Workout {{ eventDate | date }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="eventData">
  <ion-item>
    <ion-card *ngFor="let event of eventData; let i = index" [attr.data-index]="i">

      <ion-item color="light" class="workoutHeader">
        Total Volume: {{event.totals.volumn}} | reps: {{event.totals.reps}}
        <button ion-button (click)="EditWorkout(i, eventData)" item-end color="dark">
          Edit
        </button>
      </ion-item>
      <ion-card-content *ngFor="let exercise of event.exercise">

        <ion-grid>
          <ion-row class="header divider">
            <ion-col>
              {{exercise.exerciseTitle}}
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let set of exercise.sets">
            <ion-col>
              {{set.no}}) {{set.weight}}lbs x {{set.reps}}
            </ion-col>
            <ion-col>

            </ion-col>
            <ion-col>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Primary:
              <div *ngFor="let muscle of exercise.primaryMuscles" style="margin:3px;">
                <ion-badge color="primary">{{muscle.muscleDesc}}</ion-badge>
              </div>
            </ion-col>
            <ion-col>
              Secondary:
              <div *ngFor="let muscle of exercise.secondaryMuscles" style="margin:3px;">
                <ion-badge color="dark">{{muscle.muscleDesc}}</ion-badge>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="footer divider">
            <ion-col>
              <ion-note>Volumn: {{getWeight(exercise.sets)}}lbs - reps: {{getReps(exercise.sets)}}</ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-card color="dark" *ngIf="eventData != null">
    <ion-card-header>
      Muscle Group Breakdown
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas width="700" height="400"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-buttons end class="button-bar">
    <button ion-button item-end color="positive" (click)="addWorkout()">
      Add Workout
    </button>

  </ion-buttons>
</ion-footer>
