page-workout {
  ion-row.header {
    padding: 5px;
    background-color: #007272;
  }

  .row {
    background-color: #1e252d;
    filter: opacity(0.80);
    color: white;
    padding: 3px;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }

  .card-content {
    padding: 0px;
  }

  .grid {
    padding: 0px;
  }

  .divider {
    border-bottom: 1px solid black;
  }

  .workoutHeader {
    border: 1px solid black;
  }

}
