<!--
   Generated template for the RoutinesPage page.
   
   See http://ionicframework.com/docs/components/#navigation for more info on
   Ionic pages and navigation.
   -->
 <ion-header>
    <ion-navbar color="dark">
       <ion-title start item-start>Routines</ion-title>
    </ion-navbar>
    <ion-searchbar end item-end [(ngModel)]="searchText" (ionInput)="getItems($event)"></ion-searchbar>
 </ion-header>
 <ion-content>
   <div class="calendar-body" *ngIf="myRoutines != null && (myRoutines | json) != '{}'">
      <ion-grid>
        <ion-row class="calendar-weekday">
          <ion-col>Su</ion-col>
          <ion-col>Mo</ion-col>
          <ion-col>Tu</ion-col>
          <ion-col>We</ion-col>
          <ion-col>Th</ion-col>
          <ion-col>Fr</ion-col>
          <ion-col>Sa</ion-col>
        </ion-row>
        <ion-row class="calendar-date">
          <ion-col col-1 *ngFor="let day of weekdayArray">
            <ion-select value="brown" ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="weekdays[day]">
               <ion-option value="" (ionSelect)="setWeekday(day,'')">Rest Day</ion-option>
               <ion-option *ngFor="let routine of objectKeys(myRoutines)" value="{{routine}}" (ionSelect)="setWeekday(day,routine)">
                  {{myRoutines[routine].routineName}}
               </ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
      <div *ngIf="myRoutines != null && (myRoutines | json) != '{}'" >
         <div *ngFor="let key of objectKeys(myRoutines)">
            <routine-grid [Routine]="myRoutines[key]" [RoutineId]="key" [ngClass]="myRoutines[key].hidden ? 'hidden' : ''"></routine-grid>
         </div>
      </div>
 </ion-content>
 <ion-footer padding>
   <ion-buttons>
      <button ion-button color="secondary" block (click)="buildRoutine()">
         <ion-icon name="add" > Add Routine</ion-icon>
      </button>
   </ion-buttons>
 </ion-footer>