page-routines {
    ion-card-header {
        font-weight: bold;
    }
    [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
      }

    .font-medium{
        text-align: left;
        font-size: 13px;
        background: #313131 no-repeat center;
        color:white;
        background-size: cover;
    }

    .routine-grid{
        background-color: #1e252d;
        filter: opacity(0.80);
        color: white;
        font-weight: 500;
    }

    .col{
        white-space: normal;
        line-break: loose;
        
    }

    .swiper-slide{
        align-items:normal;
    }

    .select {
        padding: 0px;
    }
    
    ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 100%;
    }
    .weekview .item{
        padding: 0px;
        margin:3px;
        font-size: 14px;
    }
   

    .calendar-body {
        .grid {
          padding: 3px;
        }
        .col:last-child {
          border-right: none;
        }
        .calendar-weekday, .calendar-date {
          text-align: center;
          margin: 0;
        }
        .calendar-weekday {
          font-weight: bold;
          border-bottom: solid 1px #FFF;
          background-color: #1e252d;
        }
        .calendar-date {
          border-top: solid 1px #FFF;
          border-bottom: solid 1px #FFF;
          
        }
        .otherDate{
            float: left;
          vertical-align: top;
        }
        .currentDate {
          float: left;
          vertical-align: top;
          
        }
        .calendar-date .col {
          text-align: center;
          padding: 0px;
        }
        .calendar-date .col{
            height:50px;
            border: 1px solid #1e252d;
            padding-left:5px;
            white-space: nowrap;
            overflow-y: hidden;
            vertical-align: middle;
        }
        .select-text{
            white-space: normal;
            font-size: 10px;
        }
        .select {
            margin-top: 10px;
        }

        
      }

      .hidden{
          display:none;
      }
}
