<ion-card class="font-medium" color="dark">
  <ion-item-divider color="primary">
    <span item-header start text-left item-start (click)="Routine.min = !Routine.min">
        <ion-icon name="{{Routine.min ? 'arrow-dropright' : 'arrow-dropdown'}}">&nbsp;</ion-icon>
        {{Routine.routineName || "Rest Day"}}
    </span>
    <div text-right end *ngIf="Routine.routineName && Routine.routineName != ''">
      <button small ion-button item-end end color="dark" (click)="editRoutine()">
        Edit
      </button>
    </div>
  </ion-item-divider>
  <ion-item [ngClass]="Routine.min ? 'min font-medium' : 'font-medium'">
    <ion-grid class="routine-grid">
      <ion-row *ngFor="let exercise of Routine.exercises">
        <ion-col col-6>
          <div>{{exercise.exerciseTitle}}</div>
        </ion-col>
        <ion-col col-2>
          <div>{{printSets(exercise.sets)}}</div>
        </ion-col>
        <ion-col col-4>
          {{primaryMuscles(exercise.primaryMuscles)}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="routine-grid" *ngIf="!Routine.routineName|| Routine.routineName == ''">
      <ion-row>
        <ion-col>
          <h1 class="singleh1">No Exercise Planned</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item color="dark" *ngIf="Routine.routineName && Routine.routineName != ''">
    <span item-start>PB Volumn: {{ Routine.PB || 0 }}</span>
    <ion-button ion-button item-end outline color="danger" (click)="startRoutine()">
      <ion-icon name="play" item-end></ion-icon>
      &nbsp;Start
    </ion-button>
  </ion-item>
</ion-card>
