routine-grid{
    ion-card-header {
        font-weight: bold;
    }
    .font-medium{
        text-align: left;
        font-size: 14px;
        background: url('../../assets/imgs/routine.jpeg') no-repeat center;
        color:white;
        background-size: cover;
    }

    .routine-grid{
        background-color: #1e252d;
        filter: opacity(0.80);
        color: white;
        font-weight: 500;
    }
    .singleh1{
        margin: 0px auto 100px auto;
        text-align: center;
    }
    .col{
        white-space: normal;
        line-break: loose;
        
    }
    .button{
        margin:0px !important;
     
    }
    .min{
        display: none;

    }
}