<!--
  Generated template for the MonthStatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Month-Stats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-card color="dark" *ngIf="eventList != null">
    <ion-card-header>
    Monthly Volume
    </ion-card-header>
    <ion-card-content>
      <canvas #volumeCanvas width="700" height="400"></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card color="dark" *ngIf="eventList != null">
    <ion-card-header>
      Month Muscle Group Breakdown
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas width="700" height="400"></canvas>
    </ion-card-content>
  </ion-card>
  
</ion-content>
