<!--
  Generated template for the RoutineBuildPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      {{routineName}}
      <span end ng-app ng-controller="Ctrl" *ngIf="screenMode!='build'">
        - {{getDate() | date:'MM/dd/yyyy'}}<br />
      </span>
    </ion-title>
    <ion-buttons end class="button-bar">
      <button ion-button item-start color="danger" (click)="DeleteRoutine()" outline *ngIf="screenMode=='build' || screenMode=='workoutEdit'">
        Delete
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <pre>{{ dateWorkoutIndex |json }}</pre>
  <ion-item *ngIf="screenMode=='build'">
    <ion-label>Routine Name:</ion-label>
    <ion-input [(ngModel)]="routineName" inputmode="text" maxlength="250" text-left></ion-input>
  </ion-item>
  <ion-card *ngFor="let exercise of myRoutineData" align-items-right>

    <ion-item color="primary" (click)="toggleGroup(exercise)">
      <ion-icon name="{{exercise.hidden ? 'checkmark' : 'arrow-dropdown'}}">&nbsp;</ion-icon>
      {{exercise.exerciseTitle}}
      <button ion-button (click)="removeExercise(exercise.exerciseId)" item-end color="dark">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
    <ion-grid [ngClass]="exercise.hidden ? 'hidden' : ''">
      <ion-row>
        <ion-col no-padding *ngIf="devWidth > 400" col-2>
        </ion-col>
        <ion-col no-padding text-center col-4>
          Lbs
        </ion-col>
        <ion-col no-padding text-right col-4>
          Reps
        </ion-col>
        <ion-col no-padding *ngIf="devWidth > 400" col-2>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let set of exercise.sets">
        <ion-col no-padding col-2 width-2 *ngIf="devWidth > 400">
          <ion-label>{{set.no}}</ion-label>
        </ion-col>
        <ion-col no-padding class="nobreak">
          <button small ion-button (click)="set.weight = Number(set.weight) - 1" item-left color="dark" size="small">-</button>
          <ion-input [(ngModel)]="set.weight" style="display:inline;" inputmode="numeric" min="0" maxlength="4"></ion-input>
          <button small ion-button (click)="set.weight = Number(set.weight) + 1" item-right color="dark" size="small">+</button>
        </ion-col>
        <ion-col no-padding no-padding class="nobreak">
          <button small ion-button (click)="set.reps = Number(set.reps) - 1" item-left color="dark" size="small">-</button>
          <ion-input [(ngModel)]="set.reps" style="display:inline;" inputmode="numeric" min="1" maxlength="3"></ion-input>
          <button small ion-button (click)="set.reps = Number(set.reps) + 1" item-right color="dark" size="small">+</button>
        </ion-col>
      </ion-row>
      <ion-row class="totals">
        <ion-col>
          <ion-text color="dark">Total:</ion-text>
        </ion-col>
        <ion-col text-left>

          <ion-text color="dark">{{ getWeight(exercise.sets) }} lbs</ion-text>

        </ion-col>
        <ion-col>
          <ion-text color="dark">{{ getReps(exercise.sets) }} reps</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            Primary:
          </ion-label>

          <div *ngFor="let muscle of exercise.primaryMuscles" style="margin:3px;">
            <ion-badge color="primary">{{muscle.muscleDesc}}</ion-badge>
          </div>
        </ion-col>
        <ion-col>
          <ion-label>
            Secondary:
          </ion-label>
          <div *ngFor="let muscle of exercise.secondaryMuscles" style="margin:3px;">
            <ion-badge color="dark">{{muscle.muscleDesc}}</ion-badge>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item [ngClass]="exercise.hidden ? 'hidden' : ''">
      <ion-text item-start class="smallText">PB Volume: {{ getExercisePB(exercise.exerciseId) }}</ion-text>
      <button ion-button item-end outline size="small" (click)="removeSet(exercise.sets)" color="danger">
        <ion-icon name="remove" item-end></ion-icon>
        &nbsp;Remove Set
      </button>
      <button ion-button item-end outline size="small" (click)="addSet(exercise.sets)" color="danger">
        <ion-icon name="add" item-end></ion-icon>
        &nbsp;Add Set
      </button>
    </ion-item>
  </ion-card>
  <ion-card color="dark">
    <ion-card-header>
      Muscle Group Breakdown
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas width="700" height="400"></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer class="footer padding">
  <ion-buttons end class="button-bar">
    <button ion-button item-start color="secondary" (click)="EditExercise()">
      Edit Exercises
    </button>
    <button ion-button item-end color="positive" (click)="saveRoutine()" *ngIf="screenMode=='build'">
      Save
    </button>
    <button ion-button item-end color="positive" (click)="saveWorkout()" *ngIf="screenMode!='build'">
      Finish
    </button>
  </ion-buttons>
</ion-footer>
