page-routine-build {
  ion-item {
    border-bottom: 1px dashed #ccc;
    border-right: 1px dashed #ccc
  }



  .grid .text-input {
    border: 1px solid #f8333d;
    background-color: #343A42;
    color: white;
    border-radius: 6px;
    padding: 7px;
    width: 60px;
    margin: 3px;
    text-align: center;
  }

  .grid .col {
    padding: 0px;
    text-align: center;

  }

  .col .label {
    text-align: center;
  }

  .row:last-child .col {
    padding: 7px;
  }

  .nobreak {
    white-space: nowrap;
  }

  .nobreak button {
    height: 2.1em;
    font-size: 1.3rem;
    padding: 0 0.9em;
    vertical-align: middle;
  }

  .grid {
    background-color: #1e252d;
    filter: opacity(0.80);
    color: white;
    font-weight: 500;
  }

  .smallText {
    font-size: 12px;
  }

  .hidden {
    display: none;
  }
}
